@font-face {
    font-family: "Lato_400";
    src: url(./fonts/Lato-Regular\(400\).ttf);
}

@font-face {
    font-family: "Lato_500";
    src: url(./fonts/Lato-Medium\(500\).ttf);
}

@font-face {
    font-family: "Lato_700";
    src: url(./fonts/Lato-Bold\(700\).ttf);
}


*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: calc(100vw - 200px);
    margin: 0 auto;
}

p {
    margin: 0;
}

/* Header Start*/

.header {
    background-image: url(./images/header_background.png);
    height: 962px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);
}

.header_wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
}

.header__img {
    width: 65px;
    height: 31px;
    background-color: black;
}

.header__container {
    width: calc(100vw - 380px);
    margin: 0 auto;
}

.header__nav a {
    position: relative;
    font-family: "Lato_400";
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 82px;
    height: 24px;
    width: 60px;
    font-size: 18px;
    line-height: 24px;
}

.header__nav a:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: #1B7DFF;
    content: '';
}

.header__nav a:last-child {
    margin-right: 0px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__content {
    position: relative;
    z-index: 1;
}

.header__content-title {
    font-family: "Lato_500";
    margin-top: 176px;
    width: 619px;
    height: 121px;
    line-height: 60px;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.header__content-text {
    font-family: "Lato_400";
    width: 546px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 22px;
}

.header__content-form {
    margin-top: 38px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.header__content-checkbox {
    font-family: "Lato_500";
    width: 297px;
    height: 49px;
    color: #FFFFFF;
    border-bottom: 2px solid #BFC0C5;
}

.header__content-checkbox label {
    height: 24px;
    width: auto;
    font-size: 18px;
    line-height: 24px;
}

.header__content-checkbox input {
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 0;
}

.header__content-checkbox input:checked {
    background-color: #FFFFFF;
}

.header__content-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 23px;
}

.header__content-btn button {
    cursor: pointer;
    width: 171px;
    height: 58px;
    background: #1B7DFF;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    font-family: "Lato_500";
}

.header__content-btn button:hover {
    background-color: #1864c8;
}

/* Header End*/

/* Benefits Section Start */

.benefits__wrapper {
    height: 655px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    background: #FFFFFF;
    transform: translateY(-223px);
    padding: 93px 100px 112px 100px;
}

.benefits__title {
    width: 270px;
    height: 42px;
    margin: 0;
    font-family: "Lato_500";
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    margin-bottom: 120px;
}

.benefits__cards {
    display: flex;
    justify-content: space-between;
}

.benefits__card {
    width: 317px;
    height: 280px;

}

.benefits__card-img {
    width: 66px;
    height: 66px;
    margin-bottom: 37px;
}

.benefits__card-title {
    width: 154px;
    height: 24px;
    font-family: "Lato_500";
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 26px;
}

.benefits__card-description {
    width: 317px;
    height: 72px;
    font-family: "Lato_400";
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 39px;
}

.benefits__card-link {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 26px;
}

.arrow {
    width: 33px;
    height: 8px;
}

.arrow-link {
    display: flex;
    align-items: center;
    gap: 26px;
}

.arrow-link a {
    font-family: "Lato_400";
    position: relative;
    color: #006DFE;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.arrow-link a:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: #1B7DFF;
    content: '';
}


/* Benefits Section End */

/* Cities Section Start */

.cities__top {
    display: flex;
    height: 42px;
    justify-content: space-between;
}

.cities__top-title {
    position: relative;
    width: 457px;
    font-family: "Lato_500";
    color: #102746;
    font-size: 35px;
    line-height: 42px;
    margin: 0;
}


.cities__top-title::after {
    position: absolute;
    bottom: -7px;
    left: 0;

    width: 253px;
    height: 3px;

    background-color: #006DFE;
    content: '';
}

.cities__images {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 10px;
}

.cities__images-image {
    position: relative;
    text-align: center;
    color: white;
}

.cities__names {
    position: absolute;
    color: #FFFFFF;
    font-size: 50px;
    bottom: 27px;
    left: 29px;
}

.cities__images-first-row {
    display: flex;
    gap: 10px;
}

.cities__images-second-row {
    display: flex;
    gap: 10px;
}

.cities__images-first-row .cities__images-image img {
    max-width: 100%;
}

.cities__images-second-row .cities__images-image img {
    max-width: 100%;
}

.cities__images-image::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    background: rgba(21, 24, 36, 0.4);
}

.cities__names {
    z-index: 1;
}

/* Cities Section End */

/* Prefecture & Neighborhood Section Start */

.prefecture-neighborhood__wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.prefecture-neighborhood {
    margin-top: 131px;
}

.prefecture {
    display: flex;
    width: 95%;
    gap: 50px;
    margin-right: 51px;
}

.neighborhood {
    display: flex;
    width: 95%;
    gap: 50px;
    margin-left: 47px;
}

.prefecture-neighborhood__image {
    width: 500px;
}

.prefecture-neighborhood__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 49px;
}

.prefecture-neighborhood__card-title {
    width: 500px;
    font-family: "Lato_500";
    color: #102746;
    font-size: 30px;
    line-height: 40px;
}

.prefecture-neighborhood__card-description {
    width: 500px;
    font-family: "Lato_400";
    color: #102746;
    font-size: 16px;
    line-height: 24px;
}

/* Prefecture & Neighborhood Section End */

.top-places {
    margin-top: 139px;
}

.top-places__title {
    position: relative;
    width: 457px;
    font-family: "Lato_500";
    color: #102746;
    font-size: 35px;
    line-height: 42px;
    margin: 0;
}

.top-places__title::after {
    position: absolute;
    bottom: -7px;
    left: 0;

    width: 253px;
    height: 3px;

    background-color: #006DFE;
    content: '';
}
